<launch>
    <include file="$(find ur10e_moveit_config)/launch/demo.launch"/>
    <node name="random_pose_service" pkg="ur10e_examples" type="random_pose_service.py" output="screen"/>
    <node name="service_client_example" pkg="ur10e_examples" type="service_client_example.py" output="screen"/>   
</launch>